backend/statemachine/image-processing-workflow.asl.json
{
  "Comment": "Image Processing Workflow (Upload and Delete)",
  "StartAt": "UpdateFileStatus",
  "States": {
    "UpdateFileStatus": {
      "Type": "Task",
      "Resource": "${FileStatusUpdaterFunctionArn}",
      "Parameters": {
        "bucket.$": "$.bucket",
        "s3Key.$": "$.s3Key",
        "userId.$": "$.userId",
        "filename.$": "$.filename",
        "fileSize.$": "$.fileSize",
        "etag.$": "$.etag",
        "eventName.$": "$.eventName",
        "eventTime.$": "$.eventTime",
        "routeType.$": "$.routeType"
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "Success"
    },
    
    "Success": {
      "Type": "Pass",
      "Result": {
        "status": "completed",
        "message": "Image processing completed successfully"
      },
      "End": true
    },
    
    "HandleError": {
      "Type": "Pass",
      "Result": {
        "status": "failed",
        "message": "Image processing failed"
      },
      "End": true
    }
  }
}