backend/statemachine/image-processing-workflow.asl.json
{
  "Comment": "Image Processing Workflow (Upload and Delete)",
  "StartAt": "UpdateFileStatus",
  "States": {
    "UpdateFileStatus": {
      "Type": "Task",
      "Resource": "${FileStatusUpdaterFunctionArn}",
      "Parameters": {
        "bucket.$": "$.bucket",
        "s3Key.$": "$.s3Key",
        "userId.$": "$.userId",
        "filename.$": "$.filename",
        "fileSize.$": "$.fileSize",
        "etag.$": "$.etag",
        "eventName.$": "$.eventName",
        "eventTime.$": "$.eventTime",
        "routeType.$": "$.routeType"
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CheckEventType"
    },
    
    "CheckEventType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.routeType",
          "StringEquals": "IMAGE_DELETE",
          "Next": "Success"
        },
        {
          "Variable": "$.routeType",
          "StringEquals": "IMAGE_UPLOAD",
          "Next": "CreateJobRecord"
        }
      ],
      "Default": "Success"
    },
    
    "CreateJobRecord": {
      "Type": "Task",
      "Resource": "${JobStatusUpdaterFunctionArn}",
      "Parameters": {
        "action": "create",
        "status": "processing",
        "bucket.$": "$.bucket",
        "s3Key.$": "$.s3Key",
        "userId.$": "$.userId",
        "filename.$": "$.filename",
        "fileSize.$": "$.fileSize",
        "fileId.$": "$.fileId"
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "EnqueueProcessingJob"
    },
    
    "EnqueueProcessingJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "Parameters": {
        "QueueUrl": "${ImageProcessingQueueUrl}",
        "MessageBody": {
          "bucket.$": "$.bucket",
          "s3Key.$": "$.s3Key",
          "userId.$": "$.userId",
          "filename.$": "$.filename",
          "fileSize.$": "$.fileSize",
          "fileId.$": "$.fileId",
          "jobId.$": "$.jobId",
          "taskToken.$": "$$.Task.Token"
        }
      },
      "TimeoutSeconds": 120,
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "Next": "MarkJobAsFailed",
          "ResultPath": "$.error"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "MarkJobAsFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "CompleteJob"
    },
    
    "CompleteJob": {
      "Type": "Task",
      "Resource": "${JobStatusUpdaterFunctionArn}",
      "Parameters": {
        "action": "update",
        "jobId.$": "$.jobId",
        "status": "completed"
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "Success"
    },
    
    "MarkJobAsFailed": {
      "Type": "Task",
      "Resource": "${JobStatusUpdaterFunctionArn}",
      "Parameters": {
        "action": "update",
        "jobId.$": "$.jobId",
        "status": "failed",
        "errorMessage.$": "States.Format('Processing failed or timed out after 2 minutes. Error: {}', $.error)"
      },
      "Next": "HandleError"
    },
    
    "Success": {
      "Type": "Pass",
      "Result": {
        "status": "completed",
        "message": "Image processing completed successfully"
      },
      "End": true
    },
    
    "HandleError": {
      "Type": "Pass",
      "Result": {
        "status": "failed",
        "message": "Image processing failed"
      },
      "End": true
    }
  }
}